# Vim
.vim/.netrwhist
.vim/bundle/**
.vim/doc/tags
.vim/resource/Java  # :Unite javasrc

# NeoVim
..vimrc-rplugin~
.vim/.log/nvim_python.log_*

# ZSH
.zsh/_git
.zsh/.zcompdump
.zsh/.zsh_history
.zsh/zplug

# Others
.backup/**

# Yi
.config/yi/.stack-work
