[submodule "dotfiles-private"]
	path = .private
	url = https://aiya000@bitbucket.org/aiya000/dotfiles-private.git
[submodule ".zsh/zsh-zapack"]
	path = .zsh/zsh-zapack
	url = https://github.com/aiya000/zsh-zapack
[submodule ".zsh/zapack-repos/zsh-shell-kawaii"]
	path = .zsh/zapack-repos/zsh-shell-kawaii
	url = https://github.com/aiya000/zsh-shell-kawaii
[submodule ".zsh/zapack-repos/sh-hereis"]
	path = .zsh/zapack-repos/sh-hereis
	url = https://github.com/aiya000/sh-hereis
[submodule ".zsh/zapack-repos/sh-tovim"]
	path = .zsh/zapack-repos/sh-tovim
	url = https://github.com/aiya000/sh-tovim
[submodule ".zsh/zapack-repos/zsh-syntax-highlighting"]
	path = .zsh/zapack-repos/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/zapack-repos/zsh-dircolors-solarized"]
	path = .zsh/zapack-repos/zsh-dircolors-solarized
	url = https://github.com/joel-porquet/zsh-dircolors-solarized
[submodule ".zsh/zapack-repos/zsh-completions"]
	path = .zsh/zapack-repos/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "xmonad-config"]
	path = .xmonad
	url = https://github.com/aiya000/xmonad-mycontrib
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
