# Vim
.vim/.netrwhist
.vim/bundle/**
.vim/doc/tags
.vim/doc/dein.txt
.vim/doc/matchit.txt
.vim/resource/Java  # :Unite javasrc

# NeoVim
..vimrc-rplugin~
.vim/.log/nvim_python.log_*

# ZSH
.zsh/_git
.zsh/.zcompdump
.zsh/.zsh_history
.zsh/zplug

# Others
.backup/**

# Yi
.config/yi/.stack-work
.config/yi/yi-config.cabal
.config/yi/tags

# xmonad
.xmonad/tags
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/.stack-work

# For each environment
.zsh/history_archive
