[user]
	name = aiya000
	email = aiya000.develop@gmail.com
[merge]
	tool = vimdiff

[github]
	user = aiya000

[credential]
	helper = cache --timeout=36000
[push]
	default = matching
[alias]
	c = commit
	s = status
	b = branch
	l = log
	co = checkout
	cm = commit -m
	a = add
	d = diff
	ca = commit -a
	cam = commit -am
	ba = branch -a
	cob = checkout -b
	aa = add -A
	bd = branch -d
	tree = log --graph --decorate --oneline
	r = rebase
	rc = rebase --continue
	ra = rebase --abort
	dc = diff --cached
[core]
	pager = vim - -R +PAGER -c 'setf vim-pager | set syn=git'
[init]
	templatedir = ~/.git_templates
