[user]
	name = aiya000
	email = aiya000.develop@gmail.com
[merge]
	tool = vimdiff
[github]
	user = aiya000
[include]
	path = ~/.gitconfig.env
[push]
	default = simple
[alias]
	clone = clone --recursive
	make = create
	pr = pull-request
	ta = log --all --graph --oneline --decorate
	tree = log --graph --decorate --oneline
	tree-all = log --graph --decorate --all --oneline
[core]
	pager = cat
	quotepath = false
[init]
	templatedir = ~/.git_templates
[status]
	short = true
	branch = true
[mergetool]
	keepBackup = false
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.dotfiles/.gitmessage
[rerere]
	enabled = true
[diff]
	indentHeuristic = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[rebase]
	autostash = true
