[submodule "xmonad-config"]
	path = .xmonad
	url = https://github.com/aiya000/xmonad-mycontrib
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zsh/plugin/zsh-completions"]
	path = .zsh/plugin/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/plugin/zsh-syntax-highlighting"]
	path = .zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/plugin/sh-hereis"]
	path = .zsh/plugin/sh-hereis
	url = https://github.com/aiya000/sh-hereis
[submodule ".zsh/plugin/--recursive"]
	path = .zsh/plugin/--recursive
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugin/zsh-autosuggestions"]
	path = .zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/neosnippets/neosnippet-emoji"]
	path = .vim/neosnippets/neosnippet-emoji
	url = https://github.com/aiya000/neosnippet-emoji
[submodule ".vim/neosnippets/neosnippet-kaomoji"]
	path = .vim/neosnippets/neosnippet-kaomoji
	url = https://github.com/aiya000/neosnippet-kaomoji
[submodule ".zsh/plugin/sh-git-lfs-install-append"]
	path = .zsh/plugin/sh-git-lfs-install-append
	url = https://github.com/aiya000/sh-git-lfs-install-append.git
[submodule "Windows/Samples/bug.n"]
	path = Windows/Samples/bug.n
	url = https://github.com/aiya000/bug.n
[submodule ".private"]
	path = .private
	url = https://github.com/aiya000/dotfiles-private.git
[submodule ".zsh/plugin/enhancd"]
	path = .zsh/plugin/enhancd
	url = https://github.com/b4b4r07/enhancd
