[user]
	name = aiya000
	email = aiya000.develop@gmail.com
[merge]
	tool = vimdiff
[github]
	user = aiya000
[include]
	path = ~/.gitconfig.env
[push]
	default = simple
[alias]
	c = commit
	s = status
	b = branch
	l = log
	co = checkout
	cm = commit -m
	a = add
	d = diff
	ca = commit -a
	cam = commit -am
	ba = branch -a
	cob = checkout -b
	aa = add -A
	bd = branch -d
	tree = log --graph --decorate --oneline
	r = rebase
	rc = rebase --continue
	ra = rebase --abort
	dc = diff --cached
	return = reset --hard HEAD
	tree-all = log --graph --decorate --all --oneline
	ri = rebase -i
	ma = merge --abort
	br = branch -r
	ta = log --all --graph --oneline --decorate
	t = log --graph --oneline --decorate
	bm = branch -m
	rh = reset --hard
	ds = diff --staged
	ap = add -p
	pr = pull-request
[core]
	pager = nvim - -R +PAGER -c 'setf vim-pager | set syntax=git'
[init]
	templatedir = ~/.git_templates
[status]
	short = true
	branch = true
[mergetool]
	keepBackup = false
[color]
	ui = auto
