# ZSH
.zsh/_git
.zsh/.zcompdump
.zsh/history
## For each environment
.zsh/history_archive

# bash
.bashfiles/git-completion.bash

# Others
.backup/**

# Yi
.config/yi/.stack-work
.config/yi/yi-config.cabal
.config/yi/tags

# xmonad
.xmonad/tags
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/.stack-work
