! Fix hard seeing dark blue to visible
*color4: #00ffff

Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

dzen2.font:       -*-fixed-*-*-*-*-*-*-*-*-*-*-*-*
dzen2.foreground: #22EE11
dzen2.background: black

URxvt.font: xft:Ricty-nerd:Regular:size=14:antialias=true, \
            xft:Ricty:Regular:size=14:antialias=true, \
            xft:DejaVu Sans Mono:Regular:size=13, \
            xft:NotoColorEmoji:Regular:size=13
URxvt.letterSpace: 0
URxvt.foreground: White
URxvt.background: black
URxvt.scrollBar: false
URxvt.pointerBlank: true
URxvt.perl-ext-common: ...,resize-font,...
