#!/usr/bin/env zsh
#
# This script depends
#    - zsh-shell-kawaii

########################
# Register zle widgets #
########################
autoload -U edit-command-line && zle -N edit-command-line


##################
# Define keymaps #
##################
function peco-history-find-backward () {
    local selected
    selected=$(fc -ln 1 | tac | peco --initial-filter Regexp --select-1 --query "$LBUFFER" | sed 's/\\n/\n/g')
    BUFFER="$selected"
    CURSOR=${#BUFFER}
}
zle -N peco-history-find-backward


##############
# Keymapping #
##############
# Emacs like insert-mode
bindkey -M viins '^r' peco-history-find-backward
bindkey -M viins '^n' down-line-or-history
bindkey -M viins '^p' up-line-or-history
bindkey -M viins '^a' beginning-of-line
bindkey -M viins '^e' end-of-line
bindkey -M viins '^b' backward-char
bindkey -M viins '^f' forward-char
bindkey -M viins '^k' kill-line
bindkey -M viins '^u' backward-kill-line
bindkey -M viins '^d' delete-char
bindkey -M viins '^w' vi-backward-kill-word

# Missing vim keys
bindkey -M viins '^[' vi-cmd-mode
bindkey -M vicmd '_'  vi-first-non-blank
bindkey -M vicmd 'g_' vi-end-of-line

# I like
bindkey -M viins '^l' vi-cmd-mode
bindkey -M viins '^]' clear-screen
bindkey -M vicmd '^v' edit-command-line

# Others
bindkey -M viins '^x^j' autosuggest-accept
