#!/usr/bin/env zsh
#
# This script depends
#    - zsh-shell-kawaii

########################
# Register zle widgets #
########################
autoload -U edit-command-line && zle -N edit-command-line


##################
# Define keymaps #
##################
# history-incremental-search-backward with fzf
function fzf-history-search-backward () {
    local selected=$(fc -ln 1 | fzf-tmux --no-sort)
    BUFFER="$selected"
    CURSOR=${#BUFFER}
}
zle -N fzf-history-search-backward

# Select paths by fzf
function fzf-path-finder () {
    local current_word="${LBUFFER/* /}${RBUFFER/ */}"
    current_word="${current_word/\~/$HOME}"
    if [ -z "$current_word" ] ; then
        current_word='.'
    fi
    local selected_histories=$(find "$current_word" | fzf --multi --no-sort)
    local before_cword_num=$(( ${#BUFFER} - ${#current_word} ))
    local buffer_="${BUFFER[0, $before_cword_num]}"

    zle redisplay
    BUFFER="${buffer_} ${selected_histories}"
    CURSOR=${#BUFFER}
}
zle -N fzf-path-finder


##############
# Keymapping #
##############
# Emacs nize insert-mode
bindkey -M viins '^r' fzf-history-search-backward
bindkey -M viins '^n' down-line-or-history
bindkey -M viins '^p' up-line-or-history
bindkey -M viins '^a' beginning-of-line
bindkey -M viins '^e' end-of-line
bindkey -M viins '^b' backward-char
bindkey -M viins '^f' forward-char
bindkey -M viins '^k' kill-line
bindkey -M viins '^u' backward-kill-line
bindkey -M viins '^d' delete-char
bindkey -M viins '^w' vi-backward-kill-word

# Add needed vim like keys
bindkey -M viins '^['   vi-cmd-mode
bindkey -M viins '^X^V' vi-cmd-mode
bindkey -M vicmd '_'    vi-first-non-blank
bindkey -M vicmd 'g_'   vi-end-of-line

# ☆
bindkey -M viins '^l'   vi-cmd-mode
bindkey -M viins '^]'   clear-screen
bindkey -M viins '^x^f' fzf-path-finder
bindkey -M vicmd '^v'   edit-command-line
